asn1crypto==0.23.0
certifi==2017.7.27.1
cffi==1.11.2
chardet==3.0.4
cryptography==2.1.1
dj-database-url==0.4.2
Django==1.11.2
django-mathfilters==0.4.0
djangorestframework==3.6.4
gunicorn==19.7.1
idna==2.6
psycopg2==2.7.1
pycparser==2.18
pyOpenSSL==17.3.0
pysolr==3.6.0
pytz==2017.2
requests==2.18.4
simplejson==3.11.1
six==1.11.0
urllib3==1.26.5
watson-developer-cloud==0.26.1
whitenoise==3.3.0
yahoo-finance==1.4.0
